* {
    margin: 0;
    padding: 0;
}

.to_do {
    background-color: #CA7;
    height: 100vh;
    position: relative;
}

.add {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #924045;
    width: 100%;
    height: 100%;
    display: none;
    animation: show 2.5s;
}

@keyframes show {
    0% {
        transform: translateY(-100vh);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes hide {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}

.tasks {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

}

.tasks div {
    padding: 10px;
    box-sizing: border-box;
    width: 30%;
    max-width: 30%;


    border-radius: 5px;
}

.tasks .task {
    border: 2px solid rgb(255, 255, 255);
background-color: rgba(255, 255, 255, 0.4);
    border-radius: 2px;
    margin: 10px 0;
    width: 100%;
    min-width: 100%;
}

.tasks .in {
    width: 100%;
    max-width: 100%;
    border: 2px solid rgb(36, 192, 235);
    background-color: rgba(36, 192, 235, 0.2);

}

.tasks .complete {
    width: 100%;
    max-width: 100%;
    border: 2px solid rgb(36, 235, 36);
    background-color: rgba(36, 235, 36, 0.2);

}

.tasks .failed {
    max-width: 100%;
width: 100%;
    border: 2px solid rgb(235, 36, 36);
    background-color: rgba(235, 36, 36, 0.2);
    
}
.main_btn{
    margin: 10px auto;
    border-radius: 5px;
 padding: 10px;
 display: flex;
}
